#dialog-backdrop {
	position: absolute;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.15);
	display: none;
}

.dialog {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px; margin-left: -150px;
	height: 200px; margin-top: -100px;
	background: url("../img/ui/bg_light.gif");
	/*-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));*/
	border: 2px solid white;
	border-top-color: rgba(255,255,255,0.5);
	border-left-color: rgba(255,255,255,0.5);
	border-right-color: rgba(0,0,0,0.5);
	border-bottom-color: rgba(0,0,0,0.5);
	box-shadow: 0 0 30px black;
	outline: 1px solid #888;
	-webkit-transform: translate3d(0,0,2000px);
}
#gui .dialog * {
	-webkit-transform: translate3d(0,0,2000px);
}

.dialog .dialog-title-bar {
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font: 20px Times New Roman;
	color: #777;
}
.dialog .dialog-title {
	font: 18px Times New Roman;
	text-shadow: 1px 1px 0px #111;
}
.dialog .dialog-buttons {
	position: absolute;
	list-style: none;
	float: left;
	height: 16px;
	margin-top: 4px;
	margin-left: 4px;
	font-size: 0px;
}
.dialog .dialog-buttons > li {
	display: inline-block;
	background: url("../img/ui/window_buttons.gif");
	width: 16px;
	height: 16px;
	margin: 0 1px 0 0;
	cursor: pointer;
	padding: 0;

}

.dialog .dialog-buttons > li.dialog-close-btn 	{ background-position-x: 0px; }
.dialog .dialog-buttons > li.dialog-min-btn 	{ background-position-x: -16px; pointer-events: none; opacity: 0.5; }
.dialog .dialog-buttons > li.dialog-max-btn 	{ background-position-x: -32px; pointer-events: none; opacity: 0.5; }
.dialog .dialog-buttons > li:hover { background-position-y: -16px; }
.dialog .dialog-buttons > li:active { background-position-y: -32px; }

.dialog-inner {
	position: absolute;
	left: 5px; right: 5px; bottom: 5px; top: 25px;
	background: /*-webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.25))),*/
	url("../img/ui/bg_inner.gif");
	border: 2px solid white;
	border-bottom-color: rgba(255,255,255,0.75);
	border-right-color: rgba(255,255,255,0.75);
	border-top-color: rgba(0,0,0,0.45);
	border-left-color: rgba(0,0,0,0.45);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	padding: 8px;
}
.dialog.dialog-with-buttons .dialog-inner {
	bottom: 39px;
}
.dialog-inner span {
	display: inline-block;
	font: 18px Times New Roman;
	line-height: 20px;
	margin: 2px;
	color: #111;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.dialog-inner input {
	font: 16px Times New Roman;
	line-height: 19px;
	margin: 5px;
	padding: 2px 5px 2px 5px;
	color: #111;
	background: #eee;
	border: 1px solid #666;
}
.dialog-bottom-buttons {
	position: absolute;
	bottom: 2px;
	padding: 0;
	left: 5px; right: 5px;
	height: 31px;
	line-height: 32px;
	text-align: center;
	font: 20px Times New Roman;
	color: #777;
	border: 2px solid white;
	border-bottom-color: rgba(255,255,255,0.75);
	border-right-color: rgba(255,255,255,0.75);
	border-top-color: rgba(0,0,0,0.45);
	border-left-color: rgba(0,0,0,0.45);
}
.dialog-bottom-buttons button {
	margin: 0;
	display: inline-block;
	float: left;
}
.dialog-bottom-buttons button:first-child:nth-last-child(1) { width: 100%; }
.dialog-bottom-buttons button:first-child:nth-last-child(2),
.dialog-bottom-buttons button:first-child:nth-last-child(2) ~ button { width: 50%; }
.dialog-bottom-buttons button:first-child:nth-last-child(3),
.dialog-bottom-buttons button:first-child:nth-last-child(3) ~ button { width: 33.3333%; }
.dialog-bottom-buttons button:first-child:nth-last-child(4),
.dialog-bottom-buttons button:first-child:nth-last-child(4) ~ button { width: 25%; }


button {
	height: 30px;
	line-height: 30px;
	font: 17px Times New Roman;
	text-align: center;
	border: 2px solid white;
	border-top-color: rgba(255,255,255,0.75);
	border-left-color: rgba(255,255,255,0.75);
	border-right-color: rgba(0,0,0,0.5);
	border-bottom-color: rgba(0,0,0,0.5);
	outline: 1px solid rgba(0,0,0,0.36);
	box-shadow: 0 0 5px  rgba(0,0,0,0.55);
	/*text-shadow: 0px -1px 0 white;*/
	color: black;
	padding: 0 20px 0 20px;
	cursor: pointer;
	background: rgba(200,200,200,1);
}
button:hover {
	background: rgba(220,220,220,1);
	outline: 1px solid rgba(255,255,255,0.5);
	outline-offset: 2px;;
}
button:active {
	border-bottom-color: rgba(255,255,255,0.75);
	border-right-color: rgba(255,255,255,0.75);
	border-left-color: rgba(0,0,0,0.5);
	border-top-color: rgba(0,0,0,0.5);
	background: rgba(180,180,180,1);
}

/*******************************
/* Menu bar
********************************/
.menu-bar {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 30px;
	background: url("../img/ui/bg_light.gif");
	border-bottom: 2px solid rgba(0,0,0,0.5);
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.menu-bar button {
	height: 24px;
	margin: 3px 0 3px 3px;
	background: rgba(255,255,255,0.2);
}